<h1>about us</h1>
<p>our app allows each user to use their own phone to hear the interpreter.  this allows each user to be face to face or in a remote location.</p>
<p>allows from two to 10 thousand users on the same call</p>
<p>the person who sets up the conference is called the host. anyone who joins the conference is called the participant.</p>