<center>
<h1>connection</h1>
<br>
<br>

<p>search</p>
language pairs
<br>
<br>

<a href="tel:+16469029759p1723958#">mobile network
<br>
<%= link_to "qrcode", qrcode_path %>
<br>
<br>

<p>skype</p>
<br>
<br>

<p>bluetooth</p>

</center>