<div class="jumbotron center">
<h1>phoneme</h1>
<p>opportunity knocks in many languages, are you ready?</p>
<p>human based language interpreting, for each user's phone</P>
<p>interpreters click here to <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %></p>
<p>users click here to <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %></p>
</div>