<div class="jumbotron center">
<h1>phoneme</h1>
 <% if user_signed_in? %>
          <h2>user type</h2>
<br>
<br>

<p>host</p>
<br>

<%= link_to "connection", connection_path %>
<br>
<br>

<p>participant</p>
<br>

	<%= link_to "bar_scan", bar_scan_path %>
     <% else %>

<h2>opportunity knocks in many languages, are you ready?</h2>
<br>

<p>human based language interpreting, using each user's phone</P>
<br>	
<p>click here to <%= link_to "log in", new_user_session_path, class: "btn btn-primary btn-lg" %></p>
<p>click here to <%= link_to "sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
 <% end %>
</div>