<h1>phoneme</h1>
<p>opportunity knocks in many languages, are you ready?</p>
<p>human based language interpreting, for each user's phone</P>
<p>interpreters - sign up <%= link_to "here", "#" %></p>
<p>users - sign up <%= link_to "here", "#" %></p>